<h1>Listing Registered users</h1>

<table>
  <tr>
    <th>User_id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


	<% @users.each do |user| %>
		<% if user.id == current_user.id %>
			<% next %>
		<% end %>
		<% i=0 %>
			<tr>	
			
				<td><%= user.name %></td>
		
				<% current_user.followers.each do |followe| %>
		
					<% if followe.user_id == current_user.id && followe.follower_id == user.id %>
						<td><%= button_to 'Unfollow', followe, method: :delete, data: { confirm: 'are you sure?' } %></td>
						<% i=1 %>	
						<% break %>
					<% else %>
						<% i=0 %>	
					<% end %>	
				<% end %> 	
				<% if i==0 %>
					<%= form_for(@follower) do |f| %>
						<% if @follower.errors.any? %>
							<div id="error_explanation">
								<h2><%= pluralize(@follower.errors.count, "error") %> prohibited this follower from being saved:</h2>
								<ul>
									<% @follower.errors.full_messages.each do |msg| %>
										<li><%= msg %></li>
									<% end %>
								</ul>
							</div>
						<% end %>
						<%= f.hidden_field(:user_id, :value => current_user.id) %>
						<%= f.hidden_field(:follower_id, :value => user.id) %>
		
						<div class="actions">
							<td><%= f.submit "Follow" %></td>
						</div>
					<% end %>
				<% end %>
			</tr>
		<%# end %>	
	<% end %>
</table>
		<%= link_to 'View followers', followers_path %>
