


<h1>Your Followers</h1>

<table id="tab" class = "table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% count = 0 %>
<% current_user.follow_users.each do |follower| %>
  <tr>
    <td><%= follower.name %></td>
    <td><%= follower.email %></td>
  </tr>
<% end %>

   
Total followers <%= current_user.follow_users.count %> 
</table>

<br />

<%= link_to 'Want to follow someone', new_follower_path, :class => "btn btn-mini btn-primary" %>
<td><%= link_to 'home page', root_path, :class => "btn btn-mini btn-primary" %>
