<h1>Your Followers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% count = 0 %>
<% @users.each do |user| %>
  <% user.followers.each do |follower| %>
    <% if follower.follower_id == current_user.id %>
      <tr>
        <% count += 1 %>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
       </tr>
    <% else %>
    <% end %>
  <% end %>
<% end %>   
Total followers <%= count %> 
</table>

<br />

<%= link_to 'Want to follow someone', new_follower_path %>
<td><%= link_to 'home page', root_path %>
