
<% if current_user %>
  <center>Welcome <%= current_user.name %><br/><br/>
  <p align = left ><%= notification_for_current_user %></p>
  
  <b><h1> Follow's posts </h1></b><br/>
  <table id = "tab" class = "table table-striped">
    <% users = current_user.followers.collect{ |follower| follower.follower_id} %>
    <tr>
      <% users.each do |user| %>
        <% show_post_of_followers(user).each do |detail| %>
          <td> <%= detail %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <% end %></tr>
      <% end %>
  </table>      

<% else %>
  <h1><center>Welcome Guest</h1>
  <center><%= link_to 'SignIn', new_user_session_path,  :class => "btn btn-primary" %>&nbsp;&nbsp;
  <%= link_to 'SignUp', new_user_registration_path, :class => "btn btn-primary" %><br />
<% end %>


