  <% if comment.status == true %>
    <p>
      <b><%= comment.user.name %></b>
      :--  
      <%= comment.content %>
      :-- 
      <%= comment.post_date %><br/>
      <% j=0 %>
      <% countt=0 %>
      <% if comment.likes.where(:user_id == current_user.id)[0].blank? %>
        <%= link_to 'Like', new_post_comment_likecomment_path(comment.post.id, comment.id), :class => "btn btn-link" %>
      <% else %>
        <% likee = comment.likes.where(:user_id == current_user.id) %>
       
        <%= link_to 'Unlike', post_comment_likecomment_path(comment.post.id, comment.id, likee[0].id), method: :delete, :class => "btn btn-link" %>
        
      <% end %>
      <%= comment.likes.count %>
        
       
      <% if comment.commenter_id == current_user.id || comment.post.user.id == current_user.id %>
        <td><%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
      <% end %>
    </p>
  <% else %>
    <% if current_user.id == comment.commenter_id%>
      <b><%= comment.user.name %></b>
      Your comment's Request is pending <br/>
    <% end %>  
<% end %>  
