  <% if comment.status == true %>
    <p>
      <b><%= comment.user.name %></b>
      :--  
      <%= comment.content %>
      :-- 
      <%= comment.post_date %><br/>
      <%= like_for_comments(comment) %>
      <%= total_count = comment.likes.count %>
      <%= authentication_for_destroy?(comment) %>
    </p>
  <% else %>
    <% if current_user.id == comment.commenter_id%>
      <b><%= comment.user.name %></b>
      Your comment's Request is pending <br/>
    <% end %>  
<% end %>  
