<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>User_name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
		<% if post.user_id == current_user.id %> 
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			<td><%= post.user.name %></td>
			<td><%= link_to 'Show', post %></td>
			<td><%= link_to 'delete', post, method: :delete %>
    <% else %>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			<td><%= post.user.name %></td>
			<td><%= link_to 'Show', post %></td>
			
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Home page', root_path %>
