
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user.name %>
</p>  

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<% count = 0 %>
<% if @post.likes.where(:user_id => current_user.id)[0].blank? %>
  <%= link_to "like", new_post_like_path(@post) %>
<% else %>
  <% like = @post.likes.where(:user_id => current_user.id)[0] %>
  <%= link_to "Unlike", post_like_path(@post, like.id), method: :delete %>
<% end %>
<% @post.likes.each do |like| %>  
  <% count+=1 %>
<% end %>
<%= count %>

  
<h2> Comments </h2>
<% @post.comments.each do|comment| %>
  <% if comment.status == true %>
    <p>
      <b><%= comment.user.name %></b>
      :--  
      <%= comment.content %>
      :-- 
      <%= comment.post_date %><br/>
      <% j=0 %>
      <% countt=0 %>
      <% if comment.likes.where(:user_id == current_user.id)[0].blank? %>
        
        <%= link_to 'Like', new_post_comment_likecomment_path(@post.id, comment.id), :class => "btn btn-link" %>
          
      <% else %>
        <% likee = comment.likes.where(:user_id == current_user.id) %>
        <%= link_to 'Unlike', post_comment_likecomment_path(@post.user_id, comment.id, likee), method: :delete, :class => "btn btn-link" %>
        
      <% end %>
      <% comment.likes.each do |like| %>
        <% countt+=1 %>
      <% end %>  
      Total likes <%= countt %> 
      <% if comment.commenter_id == current_user.id || @post.user.id == current_user.id %>
        <td><%= link_to 'Destroy', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link" %></td>
      <% end %>
    </p>
  <% else %>
    <% if current_user.id == comment.commenter_id%>
     <b><%= comment.user.name %></b>
      Your comment's Request is pending <br/>
    <% end %>  
  <% end %> 
<% end %>  
   
<h2> Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= Time.now.strftime("%d/%m/%Y") %>
    <%= f.hidden_field(:post_date, :value => Time.now.strftime("%d/%m/%Y")) %>
  </div>
  <div class="field">
    <%= f.hidden_field :post_id %>
  </div>  
  <% if @post.user_id == current_user.id %>
    <div class="field">
      <%= f.hidden_field(:status, :value => true) %>
    </div>
  <% else %>
    <div class="field">
      <%= f.hidden_field(:status, :value => false) %>
    </div>
  <% end %> 
  <div class="field">
    <%= f.hidden_field(:commenter_id, :value => current_user.id) %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Home page', root_path %>


