<p id="notice"><%= notice %></p>

<p>
	<b>User:</b>
	<%= @post.user_id %>
</p>	

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Like',  new_post_like_path(@post) %>

<h2> Comments </h2>
<% @post.comments.each do|comment| %>
	<p>
		<b>Comment</b>
		<%= comment.content %>
	</p>
	
	<p>
		<b>Date</b>
		<%= Time.now.strftime("%d/%m/%Y") %>
	</p>	

	<p>
		<b>Commenter</b>
		<%= current_user.name%><br />
	<p>
<% end %>			


<h2> Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content %>
	</div>
	<div class="field">
		<%= f.label :date %><br />
	<%= Time.now.strftime("%d/%m/%Y") %>


	</div>
	<div class="field">
		
		<%= f.hidden_field :post_id %>
	</div>	
	<div class="field">
		<%= f.label :status %><br />
		<%= radio_button_tag(:status, "yes") %>
		<%= label_tag(:status_yes, "yes") %>
		<%= radio_button_tag(:status, "No") %>
		<%= label_tag(:status_no, "No") %>
	</div>
	<div class="field">
	 
	  <%= f.hidden_field(:commenter_id, :value => current_user.id) %>
	</div> 	
	<div class="actions">
		<%= f.submit %>
	</div>	
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Home page', root_path %>


