<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
  <div><%= f.label :current_password %><br />
  <%= f.text_field :current_password %><br />

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <div class="field">
    <%= f.label :gender %><br />
  <%= f.radio_button(:gender, "male") %>
  <%= f.label(:gender_male, "Male") %>
  <%= f.radio_button(:gender, "female") %>
  <%= f.label(:gender_female, "Female") %>
  </div>
  
  <div class="field">
    <%= f.label :Date_birth %><br />
    <%= f.date_select :birth_date, :start_year => 1950, :end_year => 1997 %>
  </div>
  
  

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
